<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuSXNHr9kmlO9dlBeJG_0xQ3TzllwObuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>391620850275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youtubePlayer.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notes-37979</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-37979.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391620850275:ios:35ced902182d5af9b87e56</string>
</dict>
</plist>